{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}

{% if derivative_plugin_id|clean_class == 'main' %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    {% set heading_id = attributes.id ~ '-menu'|clean_id %}
    <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
      {# Label. If not displayed, we still provide it for screen readers. #}

      {% if not configuration.label_display %}
        {% set title_attributes = title_attributes.addClass('visually-hidden') %}
      {% endif %}
      {{ title_prefix }}
      <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
      {{ title_suffix }}

      {# @fixme #}
      {#{% block content %}#}
      {{ content }}
      {#{% endblock %}#}
    </nav>
    {# @todo move in dedicated template with preprocess #}
    <div class="search-block-form" data-drupal-selector="search-block-form" id="block-stratosphere-searchform" role="search">
      <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" class="container-inline form-inline mt-2 mt-md-0">
        <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
          <label for="edit-keys" class="visually-hidden">Search</label>
          <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control mr-sm-2" type="search">
        </div>
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
          <input data-drupal-selector="edit-submit" id="edit-submit" value="Search" class="button js-form-submit form-submit btn btn-outline-success my-2 my-sm-0" type="submit">
        </div>
      </form>
    </div>
  </div>
{% else %}

  {% set heading_id = attributes.id ~ '-menu'|clean_id %}

  {# @todo review hardcoded menu names, in menu.html.twig as well #}
  {% set contextual_menus = ['block-develop', 'block-learn', 'block-build'] %}
  {% set is_contextual_menu = attributes.id|clean_id in contextual_menus %}

  <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
    {# Label. If not displayed, we still provide it for screen readers. #}
    {%  if is_contextual_menu %}
    {% set title_attributes = title_attributes.addClass('card-title') %}
    <div class="card-block">
      {%  endif %}
      {% if not configuration.label_display %}
        {% set title_attributes = title_attributes.addClass('visually-hidden') %}
      {% endif %}
      {{ title_prefix }}
      <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
      {{ title_suffix }}

      {# Menu. #}
      {# @fixme #}
      {#{% block content %}#}
        {{ content }}
      {#{% endblock %}#}
      {% if is_contextual_menu %}
    </div>
    {% endif %}
  </nav>

{% endif %}
